/**
* Default button with a custom property set
*/
:root {

  --btn-base: {
    display: inline-block;
    outline: 0;
    border: 0;
    border-radius: var(--borderRadius);
    cursor: pointer;
    padding: calc(var(--fontSize)/2) var(--fontSize);
    position: relative;
    overflow: hidden;
    transition: var(--defaultTransition);
    box-shadow: var(--boxShadow);

    &:hover {
      @apply --theme-hover;
    }
  };

  --btn: {
    @apply --btn-base;
    @apply --theme;
  }
}

.btn {
  @apply --btn;
}

.btn.disabled {
  @apply --disabled;
  background-color: var(--disabledBGColor);
}
